/* font-family add  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles  */

.container {
    width: 1440px;
    max-width: 75%;
    margin: 0 auto;

}

.btn-primary {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}

/* header section  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}

header h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

header ul li a {
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

header ul li {
    list-style: none;
    margin-right: 30px;
}

header ul li:last-child {
    margin-right: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

/* banner-section  */

.banner-heading {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.banner-heading span {
    display: block;
}

.banner-img {
    width: 100%;
    display: block;
    margin-top: 50px;
}

/* features-section  */

.features-section {
    margin-top: 100px;
}

.features-main-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.features-heading {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.features-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 586px;
    margin-top: 24px;
}

.features-title-heading {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.features-title-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 514px;
    margin-top: 10px;
}

.features-title {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 30px;
}

.features-img img {
    width: 100%;
}

.badge {
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    text-align: center;
    padding: 45px;
    position: relative;
    bottom: 114px;
    right: 90px;
}

.badge-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}

.badge-description {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}

/* team-section  */

.team-section {
    margin-top: 85px;
}

.main-team-section {
    display: flex;
    align-items: center;
    gap: 70px;
}

.team-section-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-section-img img {
    width: 100%;
    display: block;
}

.team-content-title {
    font-size: 2.8rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

.team-section-content {
    max-width: 535px;
}

.team-content-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* facts-section  */

.facts-section {
    margin-top: 100px;
}

.facts-section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-section-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 542px;
    margin-top: 24px;
    margin-bottom: 80px;
}

.main-facts-card {
    display: flex;
    justify-content: space-around;
}

.facts-card-number {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-card-description {
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
}

.facts-card-item {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 35px 60px 35px;
}

/* sponsors-section  */
.sponsors-section {
    margin-top: 100px;
}

.sponsors-heading {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.sponsors-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 542px;
    text-align: center;
    margin: 30px auto;
}

.sponsors-item {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* footer section  */
footer {
    margin-top: 80px;

}

footer .container {
    border-radius: 8px;
    background: #FFF4E7;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
}


/* responsive design with media queries  */

@media screen and (max-width: 576px) {

    .features-main-column,
    .sponsors-item,
    .main-facts-card,
    .main-team-section,
    nav {
        flex-direction: column;
    }

    .team-section-img {
        grid-template-columns: 1fr;
    }

    .main-features,
    .facts-section-description,
    .facts-section-title,
    .team-section-content {
        text-align: center;
    }

    .sponsors-item,
    .main-facts-card {
        gap: 20px;
    }

    .sponsors-item img {
        /* width: 50%; */
        display: block;
        margin: 0 auto;
    }

    .badge {
        max-width: 210px;
        position: unset;
        margin: 20px auto;
    }

    .footer-item {
        text-align: center;
        padding: 10px 5px;

    }

}

@media screen and (min-width:576px) and (max-width: 992px) {

    .features-main-column,
    .sponsors-item,
    .main-facts-card,
    .main-team-section {
        flex-direction: column;
    }

    .team-section-img {
        grid-template-columns: 1fr 1fr;
    }

    .main-features,
    .facts-section-description,
    .facts-section-title,
    .team-section-content {
        text-align: center;
    }

    .sponsors-item,
    .main-facts-card {
        gap: 20px;
    }

    .sponsors-item img {
        /* width: 50%; */
        display: block;
        margin: 0 auto;
    }

    .badge {
        max-width: 210px;
        position: unset;
        margin: 20px auto;
    }
    .footer-item {
        text-align: center;
        

    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {

    .features-main-column,
    .main-team-section {
        flex-direction: column;
        text-align: center;
    }
}